<div class="actionsLinksElement">
    {{#if alert}}
        <a {{#if href}}href="{{href}}"{{/if}} class="actionLinkAlert">{{text}}</a>
    {{else}}
        <a {{#if href}}href="{{href}}"{{/if}} class="actionLink">{{text}}</a>
    {{/if}}
</div>