<label class="profileLabelForm">
  {{label}}
  <input {{#if disabled}}disabled="{{ disabled }}"{{/if}} {{#if type}}type="{{ type }}"{{/if}} class="profileInputForm" {{#if value}}value="{{value}}"{{/if}} name={{name}}/>
</label>
